*{
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid black;
    margin: 10px; */
}


body{
    background-color: cadetblue;
}

.contenedor{
    height: 100vh; /*toma toda la altura de la pantalla*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img{
    width: 100px;
    height: 100px;
    margin: 40px;
    transition: transform 1s ease-in-out;
}

.cajaTexto{
    background-color: beige;
    font-weight: bold;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    display: none;
    text-align: center;
}

.imagen:hover .cajaTexto{
    display: block;
    transform: translateY(-350px);
}

.imagen:hover img{
    height: 130px;
    width: 130px;
    transform: translateY(-90px);
}