html, body {
    background-color: #dfe7ee;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    color: #181818;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex: 1;
}

.menu button {
    background: linear-gradient(135deg, #0054ad, #013b7a);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    width: 40%;
}

.menu button:hover {
    background: linear-gradient(135deg, #00448d, #012860);
    transform: scale(1.1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.footer {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #1d1d1d;
    color: white;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
