*{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
}

.encabezado{
    background-color: #4682B4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-size: 20px;
    
}

#link{
    color: white;
    padding: 20px;
    text-decoration: none;
}

#link:hover{
    color: rgb(212, 212, 212);
    padding: 20px;
    text-decoration: none;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4682B4;
    font-size: 60px;
    font-weight: bolder;
    padding-top: 95px;
}

.opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 8px 8px 12px 0 rgba(20, 20, 20, 0.5);

}

.tituloOpciones{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4682B4;
    padding: 10px;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 20px;
    flex-direction: column;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
}

.cajaTexto{
    background-color: #4682B4;
    color: white;
    font-weight: bold;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 120px;
    transition: transform 1s ease-in-out;
}

.cajaTexto:hover{
    background-color: #022d50;
    padding: 20px 120px;
    transform: translateY(-15px);
}

.cajaTextoEnviar {
    position: relative;
    background: #4682B4;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    cursor: pointer;
    bottom: -15px;
    font-weight: bolder;
    transition: transform 1s ease-in-out;
}

.cajaTextoEnviar:hover{
    background-color: #022d50;
    padding: 15px 45px;
    transform: translateY(-10px);
}

.footer{
    margin-left: 60px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}

#textoFooter{
    text-align: justify;
    font-size: 20px;
    color: #696969 ;
    margin-bottom: 30px;
    margin-top: 20px;
}

#contacto{
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    color: #4682B4;
}

#home{
    width: 80px;
    height: 80px;
    margin: 40px;
    transition: transform 1s ease-in-out;
}

#home:hover{
    width: 8opx;
    height: 80px;
    transform: translateX(20px);
}

#texto{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}